<div class="container-fluid">
    <div
        class="row g-2 pb-2"
    >
        <div class="col-3 px-2" >
            <div class="card" id="asideBar">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                      To do List
                    </a>

                  </div>
            </div>
        </div>
        <div class="col-9 px-2" >
            <app-to-do-list></app-to-do-list>
        </div>

    </div>
    
    
</div>